.section {
    width: 1240px;
    margin: 0 auto 0;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.formContainer {
    width: 480px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 24px;
}

.buttonContainer {
    margin-left: auto;
}

:global(.input__container) {
    width: 100%;
}

:global(.input) {
    width: 100%;
}
