.linkContainer {
    display: grid;
    width: 320px;
    grid-template-rows: repeat(3, 60px);
    align-items: center;
}

.link {
    text-decoration: none;
    transition: opacity ease 0.3s;
}

.link:hover {
    opacity: 0.6;
    white-space: nowrap;
}

.linkActive {
    color: #fff;
}

.linkActive:hover {
    cursor: default;
    opacity: 1;
}

.button {
    border-width: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.paragraph {
    opacity: 0.4;
    align-self: start;
}
